.btn_primary {
  width: 92px;
  height: 40px;
  border-radius: 12px;
  background: #f8f3ec;
}

.btn {
  background: #d3a562;
  color: white;
  width: 126px;
  height: 40px;
  border-radius: 12px;
}

.btn_secondary {
  margin-left: 45%;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
  box-shadow: 5px 30px 30px 20px (#d3a662a8);
}

.btn_secondary_new {
  margin-left: 45%;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
  box-shadow: 5px 30px 30px 20px (#d3a662a8);
}

.btn_colored {
  width: 351px;
  height: 48px;
  background: #888c94;
  color: white;
  border-radius: 28px;
}
